<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-back-button>
      </ion-back-button>
     </ion-buttons>
    <ion-title class="my-page-title">landing</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="assets/images/logo.jpg" alt="logo image" ></ion-img>
    <ion-card-header>
      <ion-card-subtitle class="my-title">HandHygiene Survey App</ion-card-subtitle>
      <ion-card-title class='my-label'> Preemptive approach to fight Covid-19</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p> Please click on the START button below to begin. On the next page sign in if you already have an account or create one by clicking on register.</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-row> 
        <ion-col>
         <h1><strong> <ion-button color="primary" expand="full" color="primary" (click)="login()" shape="round">START</ion-button></strong></h1>
        </ion-col>
        <!-- <ion-col>
          <ion-button color="primary" expand="full" color="danger" (click)="register()">Register</ion-button>
        </ion-col> -->
      </ion-row>
  </ion-toolbar>
</ion-footer>