<ion-header>
  <ion-toolbar class="Align" color="primary">
    <ion-buttons slot="start"> 
      <ion-back-button>
      </ion-back-button>
     </ion-buttons>
   <ion-title>Start Survey</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content class="Align">
  <ion-card>
    <ion-card-content>
   
    This is the first sectioin of the hand hygiene survey.
    After you finish this first section, you would be presented with the section section where you would press a button to continue on theis second section.

  </ion-card-content>
  </ion-card>
  <!-- <div *ngFor ="let cat of Category;  let i = index">     -->
  <div *ngFor="let cat of Category | slice:0:1">  <!-- use to direct to the first category -->
      <p> {{cat}}</p>
     <ion-card   [routerLink]="['/quiz']" (click) ="setID(cat)">
      <ion-card-content>
          <h3 ><b><strong> START SURVEY</strong></b></h3>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<!-- <ion-content  padding text-center>
    <ion-button [routerLink]="['/home']" shape="round">Home</ion-button><br>
    <ion-button (click)="ViewCategories()" shape="round">check</ion-button> 
</ion-content> -->