<ion-header>
  <ion-toolbar class="Align" color="primary">
    <ion-buttons slot="start"> 
      <ion-back-button>
      </ion-back-button>
     </ion-buttons>
   <ion-title>Start Survey</ion-title> 
  </ion-toolbar>
</ion-header>
<ion-content class="Align">

  
  <div *ngFor="let cat of Category | slice:0:1">  <!-- use to direct to the first category -->
    
    <ion-card  text-center [routerLink]="['/quiz']" (click) ="setID(cat)">
     <ion-card-content>
       <ion-button>
         <h3 ><b><strong> START SURVEY</strong></b></h3>
         </ion-button>
     </ion-card-content>
   </ion-card>
 </div>


  <ion-card>
    <ion-card-content>
   <strong>
    Welcome to the first section of the hand hygiene survey. Click on START SURVEY button above to take survey.
    After you finish this section, please press the submit button to continue to the next section.
    At the end of the survey, you would be presented with a congratulation message and your survey results.
   </strong>
  </ion-card-content>
  </ion-card>
  
<ion-card>
  <ion-card-content text-center>
     <strong>
      It might take a little longer for the questions to load if your internet speed is slow, but please be patient, it would eventually load.

     </strong>
    </ion-card-content>
    </ion-card>

 
</ion-content>

<!-- <ion-content  padding text-center>
    <ion-button [routerLink]="['/home']" shape="round">Home</ion-button><br>
    <ion-button (click)="ViewCategories()" shape="round">check</ion-button> 
</ion-content> -->