<ion-header>
  <ion-toolbar class="Align" color="primary">
    <ion-title> Training</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list class="quest-padd"   text-wrap *ngFor="let quiz of Questionz" (ionChange)="Score($event, quiz.Question)">
        <h3  text-wrap ><b>{{ quiz.counter }}. {{ quiz.Question }}</b></h3>
          <ion-radio-group>
            <ion-item   text-wrap  *ngFor="let tcf of quiz.Answer">
              <ion-label text-wrap class="my-title" >{{ tcf }}</ion-label>
              <ion-radio slot="start" value="{{ tcf }}"></ion-radio>
            </ion-item>
          </ion-radio-group>
      </ion-list>
  </ion-card>
  <div *ngFor="let cat of Category | slice:1:2">  
  <ion-card text-center>
    <ion-button shape="round" (click)="submit();  presentToast(); setID(cat)" [routerLink]="['/quizcat2']">Submit</ion-button>
  </ion-card>
  </div>
</ion-content>