<ion-header>
  <ion-toolbar class="Align" color="primary">
    <ion-title>
  Institutional safety 
    </ion-title>
    <ion-button [routerLink]="['/profile']" style="-ms-flex-item-align: end"><ion-icon name="person"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card text-center>
    <ion-list class="quest-padd"   text-wrap *ngFor="let quiz of Questionz" (ionChange)="Score($event, quiz.Question)">
        <h6  text-wrap ><b>{{ quiz.counter }}. {{ quiz.Question }}</b></h6>
          <ion-radio-group>
            <ion-item   text-wrap  *ngFor="let tcf of quiz.Answer">
              <ion-label text-wrap class="my-title" >{{ tcf }}</ion-label>
              <ion-radio slot="start" value="{{ tcf }}"></ion-radio>
            </ion-item>
          </ion-radio-group>
      </ion-list>
  </ion-card>

  
    
    <p>{{scoreBoolean}}</p>
    
    <div *ngIf="scoreBoolean == true">
    <div  *ngFor="let cat of Category | slice:5:7">  <!-- Slice :2:3 used to load just questions in category 3-->
        <ion-card text-center>
          <ion-button shape="round" (click)="submit();   setID(cat)" [routerLink]="['/extraquiz']">Submit</ion-button>
        </ion-card>
        </div>
    </div>
    
    
  <div *ngFor="let cat of Category | slice:4:5">  <!-- Slice :2:3 used to load just questions in category 3-->
  <ion-card text-center>
    <ion-button shape="round" (click)="submit();   setID(cat)" [routerLink]="['/report']">Submit</ion-button>
  </ion-card>
  </div>
</ion-content>